html, body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}
.header {
  padding: 20px;
  background-color: #E88224;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#icon-menu {
  background-color: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;  /* Centra el ícono horizontalmente */
  align-items: center;  /* Centra el ícono verticalmente */
  cursor: pointer;
}

#icon-menu .fa-bars {
  color: black;
}

.title-home {
  font-size: x-large;
  color: #ffffff;
}

.menu, .search, .login {
  display: flex;
  align-items: center;
}

.menu div, .search div, .login div {
  margin-right: 5px;
}

.search {
  margin-left: auto; /* tomará todo el espacio disponible a la izquierda, empujando el contenedor de búsqueda (y, por lo tanto, la lupa y el input) hacia la derecha. */
  border-right: 1px solid #000;
  padding-right: 10px; /* Espacio entre la lupa y la línea */
  margin-right: 10px; /* Espacio entre la línea y el login */
}

/* Estilos para el icono de busqueda */
.search-icon {
  cursor: pointer;
  transition: transform 0.3s ease; /* Transición suave al cambiar el tamaño */
}

.search-icon:hover {
  transform: scale(1.9); /* Aumenta el tamaño en un 10% */
}

.search-input {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px; 
  background-color: rgba(255, 255, 255, 0.8); 
  transition: all 0.3s ease; 
  outline: none; 
  width: 150px; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

.search-input:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.search-input:focus {
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
}

.login {
  margin: 10px 10px;
}

#login-link {
  color: #ffffff;
  text-decoration: none;
}

/* Estilos para el manejo del aside-bar-menu */
.sidebar-menu {
  position: fixed; /* Posición fija */
  top: 0;
  left: -300px; /* Esto lo coloca fuera de la pantalla por defecto */
  width: 300px; /* Ancho del menú */
  height: 100%;
  background-color: #ffffff;
  overflow-y: auto; /* Si el contenido excede la altura, será desplazable */
  transition: 0.3s; /* Animación suave al aparecer */
  z-index: 1000; /* Se asegura de que esté por encima de otros elementos */
}

.sidebar-menu.open {
  left: 0; /* Esto lo mueve a su posición visible */
}

.sidebar-menu .menu-title {
  font-weight: bold;
  padding: 10px 15px;
  background-color: #f5f5f5;
}

/* Estilos a los li */
.sidebar-menu li {
  list-style-type: none;
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: transform 0.3s ease;
}

li:hover {
  transform: scale(1.1);
}

/* Estilos al login  */
#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;     
  height: 100vh;
}

#login-content {
  order: 1;
}

#title-login{
  color: #E88224;
  text-align: center;
  margin: 30px 0px;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 50%; 
  margin: 0 auto; 
}

.email-password {
  font-size: large;
  margin-right: 10px; 
}

#login-form input[type="email"], 
#login-form input[type="password"] {
  flex: 1;
  padding: 9px;
  border: 0px solid #ccc;
  background-color: rgb(232, 240, 254);
}

#login-form button {
  padding: 10px 15px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 30px;
}

#join {
  text-align: center;
  color: black; 
}

#join .highlight {
  color: red; 
  font-weight: bold; 
  cursor: pointer;
}

#img-login {
  margin: 20px auto 0; 
  max-width: 100%; 
  border-radius: 0 30% 0 0;
  order: 2;
}

/* Estilos al registro */
#register {
  background-image: url('../img/register.png');
  background-size: cover; /* Esto hará que la imagen cubra todo el espacio disponible */
  background-repeat: no-repeat; /* Esto evitará que la imagen se repita */
  background-position: center center; /* Esto centrará la imagen en el centro del contenedor */
  display: flex; 
  justify-content: center; 
  align-items: center;
  min-height: 100vh; /* Esto asegurará que el contenedor ocupe toda la altura de la vista */
  box-sizing: border-box;
}

#img-register {
  display: none;  /* Estará oculto en dispositivos móviles */
}

#register-form {
  background-color: rgba(245, 245, 245, 0.5);
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 50%;
}

#register-form input[type="name"],
#register-form input[type="email"], 
#register-form input[type="password"] {
  flex: 1;
  padding: 9px;
  border: 0px solid #ccc;
  background-color: rgb(232, 240, 254);
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; /* Añade un espacio entre cada grupo */
}

.input-group label {
  margin-bottom: 5px; /* Espacio entre la etiqueta y el input */
}

#register-form button {
  padding: 10px 15px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 30px;
}

/* Estilos al mensaje de alerta */
#customAlert {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#customAlert::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);  /* Fondo negro con opacidad del 50% */
  pointer-events: none;  /* Asegura que el fondo no interfiera con el click */
}

#customAlert .alert-content {
  position: relative;
  padding: 20px;
  background-color: #fff;
  z-index: 1;  /* Asegura que el contenido está por encima del fondo */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  /* Sombra alrededor del mensaje */
  width: 300px;  /* Ancho del mensaje */
  max-width: 80%;  /* Asegura que el mensaje no sea demasiado grande en pantallas pequeñas */
}

#customAlert .close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: red;
  font-size: 18px;
}

#customAlert .close:hover {
  opacity: 0.7;
}

/* Estilos para Desktop*/
@media screen and (min-width: 1024px) {
  #login-container {
    flex-direction: row;
  }

  #login-content, #img-login {
    width: 50%; /* Divide la pantalla en dos mitades */
  }

  #login-content {
    order: 2; /* Cambia el orden para que el contenido del login se muestre a la derecha */
    display: flex;
    flex-direction: column;
  }

  #img-login {
    order: 1; /* Cambia el orden para que la imagen se muestre a la izquierda */
    border-radius: 0;
    width: 50%;
    height: 100%;
    margin: 0;
  }

  .search-input {
    width: 200px; 
  }

  /* Estilos para el registro */
  #register {
    flex-direction: row;
    background-image: none;  /* Removemos el fondo del contenedor de registro para pantallas grandes */
  }

  #register-form {
    width: 50%;  /* Ocupará la mitad derecha de la pantalla */
    order: 2;
    background-color: transparent;  /* Esto quitará el fondo en pantallas grandes */
  }

  #img-register {
    display: block;  /* Lo mostramos en pantallas grandes */
    background-image: url('../img/register.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 50%;  /* Ocupará la mitad izquierda de la pantalla */
    height: 100vh;
    order: 1;
  }
}












